<!DOCTYPE html>
<html lang="en"><head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Arkery Cloud Server Hosting">
    <meta name="keywords" content="Cloud, Arkery, VPS, dedicated-hosting, Minecraft Server Host">
    <meta name="author" content="Themefisher.com">

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="style/bootstrap.min.css">
    <link rel="stylesheet" href="style/themify-icons.css">

    <link rel="stylesheet" href="style/slick.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style/slick-theme.css">
    <link rel="stylesheet" href="style/all.css">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="style/style.css">
    <link rel="stylesheet" href="style/responsive.css">
	
	<link rel="shortcut icon" type="image/x-icon" href="arkerycloud.png">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    
    <title>ArkeryCloud</title>
    <!-- Styling -->
    <link rel="preconnect" href="https://fonts.gstatic.com/">
    <link href="./stylefiles/css2" rel="stylesheet"> 
    <link href="./stylefiles/css2(1)" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./stylefiles/owl.theme.default.min.css">
    <link rel="stylesheet" type="text/css" href="./stylefiles/owl.carousel.min.css">
    <link href="./stylefiles/all.min.css" rel="stylesheet">
    <link href="./stylefiles/theme.min.css" rel="stylesheet">
    <link href="./stylefiles/fontawesome-all.min.css" rel="stylesheet">
    <link href="./stylefiles/custom.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f224bfb4fe.js" crossorigin="anonymous"></script>
<script>
    var csrfToken = '357b81e64eb6deac1fe7010c65ac981fcd543eed',
        markdownGuide = 'Markdown Guide',
        locale = 'en',
        saved = 'saved',
        saving = 'autosaving',
        whmcsBaseUrl = "",
        requiredText = 'Required',
        recaptchaSiteKey = "6LdVt50bAAAAAF0Bg59FcpjPwqfj9Acv6bGaZ6K2";
</script>
<script src="./stylefiles/scripts.min.js.download"></script>

    
</head>
<body data-phone-cc-input="1" data-new-gr-c-s-check-loaded="14.1032.0" data-gr-ext-installed="">

    

    <header id="header" class="header">
            <div class="topbar">
                <div class="container">
                    <div class="d-flex mt-1">

                                                <div class="mr-auto">
                            <a class="mail" href="mailto:greensideom@gmail.com"><i class="fa fa-envelope"></i> <span>greensideom@gmail</span></a>
                        </div>
                        
                                              
                    </div>
                </div>
            </div>
    </header>

     <nav class="navbar navbar-expand-lg navbar-dark trans-navigation fixed-top navbar-togglable">
            <div class="container">
                <a class="navbar-brand" href="https://www.arkery.net/">
                    <h3>ArkeryCloud</h3>
                </a>
                <!-- Toggler -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="fa fa-bars"></span>
                </button>
				
				<div class="collapse navbar-collapse" id="navbarCollapse">
                    <!-- Links -->
					
					<ul class="ml-lg-auto list-unstyled m-0">
                        <li><a href="https://discord.gg/DBVyH3dVfD" class="btn btn-white btn-circled" style="background-color: white;" >Join Discord</a></li>
                    </ul>
                    <ul class="ml-lg-auto list-unstyled m-0">
                        <li><a href=".." class="btn btn-white btn-circled" style="background-color: white;" >Arkery Store</a></li>
                    </ul>
                </div>

                <!-- Collapse -->
             <!-- / .navbar-collapse -->
            </div> <!-- / .container -->
        </nav>

    <!-- HERO
    ================================================== -->
   <section class="page-banner-area page-contact">
        <div class="overlay"></div>
        <!-- Content -->
        <div class="container">
             <div class="row  align-items-center">
                <div class="col-md-12 col-lg-7 text-center text-lg-left">
                    <div class="main-banner">
                        <!-- Heading -->
                        <h1 class="display-4 mb-4 font-weight-normal" style="color: #fff;">
                            Arkery Cloud
                        </h1>

                        <!-- Subheading -->
                        <p class="lead mb-4" style="color: #fff;">
                           Cheap Shared + Multi Server hosting in the world!
                        </p>

                        <!-- Button -->
                        <p class="mb-0">
                            <a href="#store" class="btn btn-primary btn-circled" style="color: #fff;">
                                Explore Products
                            </a>
                        </p>
                    </div>
                </div>

                <div class="col-lg-5 d-none d-lg-block">
                    <div class="banner-img-block">
                        <img src="panel.png" alt="banner-img" class="img-fluid">
                    </div>
                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </section>

    

    

            <!--Banner -->
    

        

    <!-- Plans -->
    <div class="plans py-5" id="store">
        <div class="container">
            <h2 style="color: #fff;"><b>Minecraft Server - Shared Hosting</b> <span class="badge badge-warning">3 types</span></h2>
            <hr style="background-color: #fff;">
            <br>
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="card text-center mb-4">
                        <div class="card-img-three">
                            <div class="card-header">
                                <span class="badge badge-pill badge-pink mt-1 mb-2" style="color: #fff;">Stone</span>
                                <h3 class="mb-0" style="color: #fff;"><small>$</small>3</h3>
                                <p class="my-0" style="color: #fff;">per month<br>manual renewal</p>
                            </div>
                        </div>
                        <div class="card-body">
                            <ul>
                                <li><i class="fa fa-memory" aria-hidden="true"></i> 2GB of RAM</li>
                                <li><i class="fa fa-microchip" aria-hidden="true"></i> 1 vCPU Core</li>
                                <li><i class="fa fa-hdd"></i> 10 GB SSD Storage</li>
                            </ul>
                        </div>
                        <div class="card-footer py-3">
                            <a href="27812" class="btn btn-outline-primary"><i class="fas fa-shopping-basket"></i> Order now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="card text-center mb-4">
                        <div class="card-img-three">
                            <div class="card-header">
                                <span class="badge badge-pill badge-purple mt-1 mb-2" style="color: #fff;">Iron</span>
								<span class="badge badge-pill badge-pink mt-1 mb-2">Popular</span>
                                <h3 class="mb-0" style="color: #fff;"><small>$</small>5</h3>
                                <p class="my-0" style="color: #fff;">per month<br>manual renewal</p>
                            </div>
                        </div>
                        <div class="card-body">
                            <ul>
                                <li><i class="fas fa-memory" aria-hidden="true"></i> 4GB of RAM</li>
                                <li><i class="fa fa-microchip" aria-hidden="true"></i> 2 vCPU Core</li>
								<li><i class="fas fa-database"></i> 2x Backup Limit</li>
                                <li><i class="fas fa-hdd"></i> 20 GB SSD Storage</li>
                            </ul>
                        </div>
                        <div class="card-footer py-3">
                            <a href="27622" class="btn btn-primary"><i class="fas fa-shopping-basket"></i> Order now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="card text-center mb-4">
                        <div class="card-img-three">
                            <div class="card-header">
                                <span class="badge badge-pill badge-orange mt-1 mb-2">Diamond</span>
                                <h3 class="mb-0" style="color: #fff;"><small>$</small>8.50</h3>
                                <p class="my-0" style="color: #fff;">per month<br>manual renewal</p>
                            </div>
                        </div>
                        <div class="card-body">
                            <ul>
                                <li><i class="fas fa-memory" aria-hidden="true"></i> 8GB of RAM</li>
                                <li><i class="fa fa-microchip" aria-hidden="true"></i> 4 vCPU Core</li>
								<li><i class="fas fa-database"></i> 8x Backup Limit</li>
                                <li><i class="fas fa-hdd"></i> 50 SSD Storage</li>
                            </ul>
                        </div>
                        <div class="card-footer py-3">
                            <a href="39212" class="btn btn-outline-primary"><i class="fas fa-shopping-basket"></i> Order now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="plans py-5">
        <div class="container">
            <h2 style="color: #fff;"><b>Minecraft Server Hosting - dedicated Port</b> <span class="badge badge-warning">2 Types</span></h2>
            <hr style="background-color: #fff;">
            <br>
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="card text-center mb-4">
                        <div class="card-img-three">
                            <div class="card-header">
                                <span class="badge badge-pill badge-orange mt-1 mb-2" style="color: #fff;">Diamond</span>
                                <h3 class="mb-0" style="color: #fff;" style="color: #fff;"><small>$</small>10.17</h3>
                                <p class="my-0" style="color: #fff;" style="color: #fff;">per month<br>manual renewal</p>
                            </div>
                        </div>
                        <div class="card-body">
                            <ul>
                                <li><i class="fas fa-memory" aria-hidden="true"></i> 4GB of RAM</li>
                                <li><i class="fa fa-microchip" aria-hidden="true"></i> 3 vCPU Core</li>
                                <li><i class="fas fa-hdd"></i> 50GB SSD Storage</li>
                                <li><i class="fas fa-database"></i> 10x Backup Limit</li>
                                <li><i class="fas fa-tachometer-alt"></i> Default Port</li>
                            </ul>
                        </div>
                        <div class="card-footer py-3">
                            <a href="39328" class="btn btn-primary"><i class="fas fa-shopping-basket"></i> Order now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="card text-center mb-4">
                        <div class="card-img-three">
                            <div class="card-header">
                                <span class="badge badge-pill badge-orange mt-1 mb-2" style="color: #fff;">Diamond</span>
                                <h3 class="mb-0" style="color: #fff;" style="color: #fff;"><small>$</small>15.17</h3>
                                <p class="my-0" style="color: #fff;" style="color: #fff;">per month<br>manual renewal</p>
                            </div>
                        </div>
                        <div class="card-body">
                            <ul>
                                <li><i class="fas fa-memory" aria-hidden="true"></i> 8GB of RAM</li>
                                <li><i class="fa fa-microchip" aria-hidden="true"></i> 4 vCPU Core</li>
                                <li><i class="fas fa-hdd"></i> 50GB SSD Storage</li>
                                <li><i class="fas fa-database"></i> 10x Backup Limit</li>
                                <li><i class="fas fa-tachometer-alt"></i> Default Port</li>
                            </ul>
                        </div>
                        <div class="card-footer py-3">
                            <a href="29178" class="btn btn-outline-primary"><i class="fas fa-shopping-basket"></i> Order now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="plans py-5">
        <div class="container">
            <h2 style="color: #fff;"><b>Discord Bot - Hosting</b> <span class="badge badge-warning">3 types</span></h2>
            <hr style="background-color: #fff;">
            <br>
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="card text-center mb-4">
                        <div style="
                            background: url(&#39;https://wallpapercave.com/wp/wp4462545.jpg&#39;);
                            background-position-x: 0%;
                            background-position-y: 0%;
                            background-size: auto;
                            position: relative;
                            border-top-left-radius: 8px;
                            border-top-right-radius: 8px;
                            background-position:40% 40%;
                            background-size: 400px 250px;
                            max-width: 100%;
                        ">
                            <div class="card-header">
                                <span class="badge badge-pill badge-purple mt-1 mb-2">Small</span>
                                <h3 class="mb-0" style="color: #fff;"><small>$</small>1.50</h3>
                                <p class="my-0" style="color: #fff;">per month<br>manual renewal</p>
                            </div>
                        </div>
                        <div class="card-body">
                            <ul>
                                <li><i class="fas fa-memory" aria-hidden="true"></i> 1GB of RAM</li>
                                <li><i class="fa fa-microchip" aria-hidden="true"></i> 1 vCPU Core</li>
                                <li><i class="fas fa-memory" aria-hidden="true"></i> 2 Backup Limit</li>
                                <li><i class="fas fa-hdd"></i> 512MB SSD Storage</li>
                            </ul>
                        </div>
                        <div class="card-footer py-3">
                            <a href="29192" class="btn btn-outline-primary"><i class="fas fa-shopping-basket"></i> Order now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="card text-center mb-4">
                        <div style="
                            background: url(&#39;https://wallpapercave.com/wp/wp4462545.jpg&#39;);
                            background-position-x: 0%;
                            background-position-y: 0%;
                            background-size: auto;
                            position: relative;
                            border-top-left-radius: 8px;
                            border-top-right-radius: 8px;
                            background-position:40% 40%;
                            background-size: 400px 250px;
                            max-width: 100%;
                        ">
                            <div class="card-header">
                                <span class="badge badge-pill badge-orange mt-1 mb-2">Medium</span>
                                <h3 class="mb-0" style="color: #fff;"><small>$</small>2.50</h3>
                                <p class="my-0" style="color: #fff;">per month<br>manual renewal</p>
                            </div>
                        </div>
                        <div class="card-body">
                            <ul>
                                <li><i class="fas fa-memory" aria-hidden="true"></i> 1.5GB of RAM</li>
                                <li><i class="fa fa-microchip" aria-hidden="true"></i> 1 vCPU Core</li>
                                <li><i class="fas fa-memory" aria-hidden="true"></i> 2 Backup Limit</li>
                                <li><i class="fas fa-hdd"></i> 1GB SSD Storage</li>
                            </ul>
                        </div>
                        <div class="card-footer py-3">
                            <a href="91922" class="btn btn-primary"><i class="fas fa-shopping-basket"></i> Order now</a>
                        </div>
                    </div>
                </div>
				
				<div class="col-lg-4 col-md-4">
                    <div class="card text-center mb-4">
                        <div style="
                            background: url(&#39;https://wallpapercave.com/wp/wp4462545.jpg&#39;);
                            background-position-x: 0%;
                            background-position-y: 0%;
                            background-size: auto;
                            position: relative;
                            border-top-left-radius: 8px;
                            border-top-right-radius: 8px;
                            background-position:40% 40%;
                            background-size: 400px 250px;
                            max-width: 100%;
                        ">
                            <div class="card-header">
                                <span class="badge badge-pill badge-orange mt-1 mb-2">Large</span>
                                <span class="badge badge-pill badge-pink mt-1 mb-2">Professional</span>
                                <h3 class="mb-0" style="color: #fff;"><small>$</small>5.50</h3>
                                <p class="my-0" style="color: #fff;">per month<br>manual renewal</p>
                            </div>
                        </div>
                        <div class="card-body">
                            <ul>
                                <li><i class="fas fa-memory" aria-hidden="true"></i> 2GB of RAM</li>
                                <li><i class="fa fa-microchip" aria-hidden="true"></i> 2 vCPU Core</li>
                                <li><i class="fas fa-memory" aria-hidden="true"></i> 2 Backup Limit</li>
                                <li><i class="fas fa-hdd"></i> 10GB SSD Storage</li>
                            </ul>
                        </div>
                        <div class="card-footer py-3">
                            <a href="78176" class="btn btn-outline-primary"><i class="fas fa-shopping-basket"></i> Order now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<div class="plans py-5">
        <div class="container">
            <h2 style="color: #fff;"><b>Discord Bot Hosting - Premade</b> <span class="badge badge-warning">3 types</span></h2>
            <hr style="background-color: #fff;">
            <br>
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="card text-center mb-4">
                        <div style="
                            background: url(&#39;https://wallpapercave.com/wp/wp4462545.jpg&#39;);
                            background-position-x: 0%;
                            background-position-y: 0%;
                            background-size: auto;
                            position: relative;
                            border-top-left-radius: 8px;
                            border-top-right-radius: 8px;
                            background-position:40% 40%;
                            background-size: 400px 250px;
                            max-width: 100%;
                        ">
                            <div class="card-header">
                                <span class="badge badge-pill badge-purple mt-1 mb-2">Small</span>
                                <span class="badge badge-pill badge-pink mt-1 mb-2">Utility Bot</span>
                                <h3 class="mb-0" style="color: #fff;"><small>$</small>2</h3>
                                <p class="my-0" style="color: #fff;">per month<br>manual renewal</p>
                            </div>
                        </div>
                        <div class="card-body">
                            <ul>
                                <li><i class="fas fa-memory" aria-hidden="true"></i> 256MB of RAM</li>
                                <li><i class="fa fa-microchip" aria-hidden="true"></i> 1 vCPU Core</li>
                                <li><i class="fa fa-code"></i> Coded For You</li>
                                <li><i class="fa fa-code"></i> Userinfo Command</li>
                                <li><i class="fa fa-code"></i> Kick Command</li>
                                <li><i class="fa fa-code"></i> Clear Command</li>
                                <li><i class="fa fa-check"></i> Custom Avatar</li>
                                <li><i class="fa fa-check"></i> Custom Name</li>
                                <li><i class="fa fa-check"></i> Custom Status</li>
                                <li><i class="fa fa-check"></i> Console Access</li>
                                <li><i class="fa fa-check"></i> Start / Stop Access</li>
                                <li>(+$2 Custom Feature)</li>
                            </ul>
                        </div>
                        <div class="card-footer py-3">
                            <a href="89991" class="btn btn-outline-primary"><i class="fas fa-shopping-basket"></i> Order now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="card text-center mb-4">
                        <div style="
                            background: url(&#39;https://wallpapercave.com/wp/wp4462545.jpg&#39;);
                            background-position-x: 0%;
                            background-position-y: 0%;
                            background-size: auto;
                            position: relative;
                            border-top-left-radius: 8px;
                            border-top-right-radius: 8px;
                            background-position:40% 40%;
                            background-size: 400px 250px;
                            max-width: 100%;
                        ">
                            <div class="card-header">
                                <span class="badge badge-pill badge-orange mt-1 mb-2">Medium</span>
                                <span class="badge badge-pill badge-pink mt-1 mb-2">Utility Bot</span>
                                <h3 class="mb-0" style="color: #fff;"><small>$</small>2.50</h3>
                                <p class="my-0" style="color: #fff;">per month<br>manual renewal</p>
                            </div>
                        </div>
                        <div class="card-body">
                            <ul>
                                <li><i class="fas fa-memory" aria-hidden="true"></i> 256MB of RAM</li>
                                <li><i class="fa fa-microchip" aria-hidden="true"></i> 1 vCPU Core</li>
                                <li><i class="fa fa-code"></i> Coded For You</li>
                                <li><i class="fa fa-code"></i> Userinfo Command</li>
                                <li><i class="fa fa-code"></i> Kick Command</li>
                                <li><i class="fa fa-code"></i> Clear Command</li>
                                <li><i class="fa fa-code"></i> Welcome Message</li>
                                <li><i class="fa fa-code"></i> Leave Message</li>
                                <li><i class="fa fa-check"></i> Custom Avatar</li>
                                <li><i class="fa fa-check"></i> Custom Name</li>
                                <li><i class="fa fa-check"></i> Custom Status</li>
                                <li><i class="fa fa-check"></i> Console Access</li>
                                <li><i class="fa fa-check"></i> Start / Stop Access</li>
                                <li>(+$2 Custom Feature)</li>
                            </ul>
                        </div>
                        <div class="card-footer py-3">
                            <a href="37222" class="btn btn-primary"><i class="fas fa-shopping-basket"></i> Order now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="card text-center mb-4">
                        <div style="
                            background: url(&#39;https://wallpapercave.com/wp/wp4462545.jpg&#39;);
                            background-position-x: 0%;
                            background-position-y: 0%;
                            background-size: auto;
                            position: relative;
                            border-top-left-radius: 8px;
                            border-top-right-radius: 8px;
                            background-position:40% 40%;
                            background-size: 400px 250px;
                            max-width: 100%;
                        ">
                            <div class="card-header">
                                <span class="badge badge-pill badge-orange mt-1 mb-2">Large</span>
                                <span class="badge badge-pill badge-pink mt-1 mb-2">Basic Moderation Bot</span>
                                <h3 class="mb-0" style="color: #fff;"><small>$</small>3.50</h3>
                                <p class="my-0" style="color: #fff;">per month<br>manual renewal</p>
                            </div>
                        </div>
                        <div class="card-body">
                            <ul>
                                <li><i class="fas fa-memory" aria-hidden="true"></i> 512MB of RAM</li>
                                <li><i class="fa fa-microchip" aria-hidden="true"></i> 1 vCPU Core</li>
                                <li><i class="fa fa-code"></i> Coded For You</li>
                                <li><i class="fa fa-code"></i> Userinfo Command</li>
                                <li><i class="fa fa-code"></i> Kick Command</li>
                                <li><i class="fa fa-code"></i> Clear Command</li>
                                <li><i class="fa fa-code"></i> Ban Command</li>
                                <li><i class="fa fa-code"></i> Warn Command</li>
                                <li><i class="fa fa-code"></i> Role Command</li>
                                <li><i class="fa fa-code"></i> Autorole</li>
                                <li><i class="fa fa-code"></i> Reaction Roles (5)</li>
                                <li><i class="fa fa-check"></i> Custom Avatar</li>
                                <li><i class="fa fa-check"></i> Custom Name</li>
                                <li><i class="fa fa-check"></i> Custom Status</li>
                                <li><i class="fa fa-check"></i> Console Access</li>
                                <li><i class="fa fa-check"></i> Start / Stop Access</li>
                                <li>(+$2 Custom Feature)</li>
                            </ul>
                        </div>
                        <div class="card-footer py-3">
                            <a href="72782" class="btn btn-outline-primary"><i class="fas fa-shopping-basket"></i> Order now</a>
                        </div>
                    </div>
                </div>
        </div>
    </div>
	<div class="plans py-5">
        <div class="container">
            <h2 style="color: #fff;"><b>Garrys Mod/SCP servers - Shared</b> <span class="badge badge-warning">1 Type</span></h2>
            <hr style="background-color: #fff;">
            <br>
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="card text-center mb-4">
                        <div class="card-img-three">
                            <div class="card-header">
                                <span class="badge badge-pill badge-orange mt-1 mb-2" style="color: #fff;">Popular</span>
                                <h3 class="mb-0" style="color: #fff;" style="color: #fff;"><small>$</small>10.17</h3>
                                <p class="my-0" style="color: #fff;" style="color: #fff;">per month<br>manual renewal</p>
                            </div>
                        </div>
                        <div class="card-body">
                            <ul>
                                <li><i class="fas fa-memory" aria-hidden="true"></i> 4GB of RAM</li>
                                <li><i class="fa fa-microchip" aria-hidden="true"></i> 3 vCPU Core</li>
                                <li><i class="fas fa-hdd"></i> 50GB SSD Storage</li>
                                <li><i class="fas fa-database"></i> 10x Backup Limit</li>
                            </ul>
                        </div>
                        <div class="card-footer py-3">
                           <a href="22622" class="btn btn-primary"><i class="fas fa-shopping-basket"></i> Order now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	
	<div class="plans py-5">
        <div class="container">
            <h2 style="color: #fff;"><b>Minecraft Server Hosting - Personal Node</b> <span class="badge badge-warning">3 Types</span></h2>
            <hr style="background-color: #fff;">
            <br>
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="card text-center mb-4">
                        <div class="card-img-three">
                            <div class="card-header">
                                <span class="badge badge-pill badge-orange mt-1 mb-2" style="color: #fff;">Diamond</span>
                                <h3 class="mb-0" style="color: #fff;" style="color: #fff;"><small>$</small>15.17</h3>
                                <p class="my-0" style="color: #fff;" style="color: #fff;">per month<br>manual renewal</p>
                            </div>
                        </div>
                        <div class="card-body">
                            <ul>
                                <li><i class="fas fa-memory" aria-hidden="true"></i> 4GB of RAM</li>
                                <li><i class="fa fa-microchip" aria-hidden="true"></i> 2 vCPU Core Intel Xeon</li>
								<li><i class="fas fa-hdd"></i> 100GB SSD Storage</li>
                                <li><i class="fas fa-database"></i> Unlimited Server Request</li>
                                <li><i class="fas fa-tachometer-alt"></i> 1 IP Public IPv4</li>
                            </ul>
                        </div>
                        <div class="card-footer py-3">
                            <a href="45334" class="btn btn-outline-primary"><i class="fas fa-shopping-basket"></i> Order now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="card text-center mb-4">
                        <div class="card-img-three">
                            <div class="card-header">
                                <span class="badge badge-pill badge-orange mt-1 mb-2" style="color: #fff;">Diamond</span>
                                <h3 class="mb-0" style="color: #fff;" style="color: #fff;"><small>$</small>25.17</h3>
                                <p class="my-0" style="color: #fff;" style="color: #fff;">per month<br>manual renewal</p>
                            </div>
                        </div>
                        <div class="card-body">
                            <ul>
                                <li><i class="fas fa-memory" aria-hidden="true"></i> 8GB of RAM</li>
                                <li><i class="fa fa-microchip" aria-hidden="true"></i> 2 vCPU Core Intel Xeon</li>
								<li><i class="fas fa-hdd"></i> 100GB SSD Storage</li>
                                <li><i class="fas fa-database"></i> Unlimited Server Request</li>
                                <li><i class="fas fa-tachometer-alt"></i> 1 IP Public IPv4</li>
                            </ul>
                        </div>
                        <div class="card-footer py-3">
                            <a href="99134" class="btn btn-primary"><i class="fas fa-shopping-basket"></i> Order now</a>
                        </div>
                    </div>
                </div>
				<div class="col-lg-4 col-md-4">
                    <div class="card text-center mb-4">
                        <div class="card-img-three">
                            <div class="card-header">
                                <span class="badge badge-pill badge-orange mt-1 mb-2" style="color: #fff;">Diamond</span>
                                <h3 class="mb-0" style="color: #fff;" style="color: #fff;"><small>$</small>35.17</h3>
                                <p class="my-0" style="color: #fff;" style="color: #fff;">per month<br>manual renewal</p>
                            </div>
                        </div>
                        <div class="card-body">
                            <ul>
                                <li><i class="fas fa-memory" aria-hidden="true"></i> 32GB of RAM</li>
                                <li><i class="fa fa-microchip" aria-hidden="true"></i> 8 vCPU Core Intel Xeon</li>
								<li><i class="fas fa-hdd"></i> 500GB SSD Storage</li>
                                <li><i class="fas fa-database"></i> Unlimited Server Request</li>
                                <li><i class="fas fa-tachometer-alt"></i> 1 IP Public IPv4</li>
                            </ul>
                        </div>
                        <div class="card-footer py-3">
                            <a href="39482" class="btn btn-outline-primary"><i class="fas fa-shopping-basket"></i> Order now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Features -->

    <!-- Get Started Today -->
    <div class="get-started py-5">
        <div class="container">
            <h2 class="text-center mb-4">Get Started in 3 Easy Steps</h2>
            <div class="row d-flex justify-content-between">
                <div class="col-lg-6">
                    <img class="img-fluid" src="./stylefiles/pngwing.com.png" alt="">
                </div>
                <div class="col-lg-6 d-flex align-items-center">
                    <div class="sections">
                        <div class="media mb-4">
                            <div class="number-circle mr-2">01</div>
                            <div class="media-body">
                                <h5 class="my-0">Choose a plan</h5>
                                <p class="my-0">Browse through our plans!</p>
                            </div>
                        </div>
                        <div class="media mb-4">
                            <div class="number-circle mr-2">02</div>
                            <div class="media-body">
                                <h5 class="my-0">Purchase a Plan</h5>
                                <p class="my-0">Easy to pay </p>
                            </div>
                        </div>
                        <div class="media mb-4">
                            <div class="number-circle mr-2">03</div>
                            <div class="media-body">
                                <h5 class="my-0">Manage your order in dedicated ticket channel</h5>
                                <p class="my-0">After creating your account and confirming your order, your service will be launched quickly.</p>
                            </div>
                        </div>
                        <div class="buttons text-center">
                            <a href="https://discord.gg/DBVyH3dVfD" class="btn btn-outline-primary">Join Our Discord</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

                    

                    
                                    <div class="clearfix"></div>
            
        
    

    <footer class="footer mt-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <h2><i class="fas fa-users"></i> About us</h2>
                    <a class="my-3 mr-3" href="#/index.php">
                                                    <b>ArkeryCloud</b>
                                            </a>
                    <p>Game Server Hosting by Arkery</p>
                </div>
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-4">
                            <h2><i class="fas fa-cubes"></i> Services</h2>
                            <ul>
                                <li><a>Minecraft Java Hosting</a></li>
                                <li><a>Minecraft Pocket Edition</a></li>
								<li><a>SCP Server Hosting</a></li>
								<li><a>Gmod Server Hosting</a></li>
                                <li><a>Discord Bot Hosting</a></li>
                                <li><a>Personal Hosting</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-4">
                            <h2><i class="fas fa-share-square"></i> Follow us</h2>
                            <ul>
                                <li><a href="https://discord.gg/DBVyH3dVfD"><i class="fab fa-discord"></i> Discord</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
        <div class="text-center py-3" style="font-size: 17px;background-color: #22252C;color: #fff;">
            Copyright © 2021 ArkeryCloud. All Rights Reserved.
        </div>
    <div id="fullpage-overlay" class="w-hidden" style="display: none;">
        <div class="outer-wrapper">
            <div class="inner-wrapper">
                <img src="./stylefiles/overlay-spinner.svg">
                <br>
                <span class="msg"></span>
            </div>
        </div>
    </div>


   

    

    <script src="./stylefiles/owl.carousel.min.js.download"></script>
    <script>
        var owl = $('.owl-carousel');
        owl.owlCarousel({
            items:1,
            loop:false,
            margin:10,
            autoplay:true,
            autoplayTimeout:1000,
            autoplayHoverPause:true,
            dots:false
        });
        $('.play').on('click',function(){
            owl.trigger('play.owl.autoplay',[1000])
        })
        $('.stop').on('click',function(){
            owl.trigger('stop.owl.autoplay')
        })
    </script>



</body><grammarly-desktop-integration data-grammarly-shadow-root="true"></grammarly-desktop-integration></html>