<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Required meta tags -->
    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="The Official Arkery Store">
    <meta name="keywords" content="Store,Arkery,Money,Perks,Arkery Premium,Premium">
    <meta name="author" content="store.arkery.net">

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="style/bootstrap.min.css" defer>
    <link rel="stylesheet" href="style/themify-icons.css" defer>

    <link rel="stylesheet" href="style/slick.css" defer>
    <link rel="stylesheet" href="style/slick-theme.css" defer>
    <link rel="stylesheet" href="style/all.css" defer>

    <!-- Theme CSS -->
    <link rel="stylesheet" href="style/style.css" defer>
    <link rel="stylesheet" href="style/responsive.css" defer>
    <script>const cjsy12 = "<%= cjsy12 %>";</script>
    <script src="/js/bcdi.js" defer></script>
	<link rel="shortcut icon" type="image/x-icon" href="arkery.png">
    <script id='kas' src="/kas.js" defer></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-0Z6XB33RLC"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-0Z6XB33RLC');
</script>

<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
     <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet'>
    <title>Arkery</title>
</head>


<body class="top-header" data-new-gr-c-s-check-loaded="14.1038.0" data-gr-ext-installed="">
    <div id='ia84m2'></div>
    <nav class="navbar navbar-expand-lg navbar-dark trans-navigation fixed-top navbar-togglable">
        <div class="container">
            <a class="navbar-brand" href="https://store.arkery.net/">
                <h3>Arkery Store</h3>
            </a>
            <!-- Toggler -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="fa fa-bars"></span>
            </button>
            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <!-- Links -->
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item ">
                        <a href="https://store.arkery.net/" class="nav-link js-scroll-trigger">
                            Home
                        </a>
                    </li>
                    
            
                    <li class="nav-item ">
                        <a href="https://store.arkery.net/cloud" class="nav-link js-scroll-trigger">
                            Server Host
                        </a>
                    </li>
                </ul>
                
                <ul class="ml-lg-auto list-unstyled m-0">
                    <li><a href="https://discord.gg/DBVyH3dVfD" class="btn btn-white btn-circled">Join Discord</a></li>
                </ul>
            </div> <!-- / .navbar-collapse -->
        </div> <!-- / .container -->
    </nav>

   <section class="page-banner-area page-contact">
        <div class="overlay"></div>
        <div class="container">
             <div class="row  align-items-center">
                <div class="col-md-12 col-lg-7 text-center text-lg-left">
                    <div class="main-banner">
                        <h1 class="display-4 mb-4 font-weight-normal" style="color: #fff;">
                            Arkery Store
                        </h1>

                        <p class="lead mb-4" style="color: #fff;">
                           Buy roles and perks to flex we wont judge you LMAO. :) Buying supports us to work on more big projects.
                        </p>

                        <p class="mb-0">
                            <a href="#store" class="btn btn-primary btn-circled" style="color: #fff;">
                                Explore Products
                            </a>
                        </p>
                    </div>
                </div>

                <div class="col-lg-5 d-none d-lg-block">
                    <div class="banner-img-block">
                        <img src="arkeryblack.png" alt="banner-img" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </section>
  


	<section class="section" id="store">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 text-center">
                    <div class="section-heading">
                        <h2 class="section-title">
                            Custom SkinPack Orders
                        </h2>

                        <p>
                            Do you want us to create skinpacks for you? Well you can just relax and let us do all the work
                        </p>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
      
				
				<div class="col-lg-4 col-sm-8 col-md-6" >
                    <div class="pricing-box " style="padding-bottom: 20px; padding-top: 20px; border-radius: 20px;">
                        <h3>Custom SkinPack</h3>
                        <div class="price-block">
                             <h2><small>$</small>3<span></span></h2>
                        </div>

                        <ul class="price-features list-unstyled">
                            <li><i class="fa fa-check" aria-hidden="true"></i> Selected Cosmetic with Custom Skin</li> 
                            <li><i class="fa fa-check" aria-hidden="true"></i> 10 Skins Limit / Skinpack</li>							
                            <li><i class="fa fa-check" aria-hidden="true"></i> Custom PackName</li>
                        </ul>

                        <a href="34534" class="btn btn-outline-dark btn-circled">Purchase Now</a>
                    </div>
                </div> <br>
				
				<div class="col-lg-4 col-sm-8 col-md-6" >
                    <div class="pricing-box " style="padding-bottom: 20px; padding-top: 20px; border-radius: 20px;">
                        <h3>Arkery premium</h3>
                        <div class="price-block">
                             <h2><small>$</small>5<span></span></h2>
                        </div>

                        <ul class="price-features list-unstyled">
						     <li><i class="fa fa-clock" aria-hidden="true"></i>Duration: 1 month</li>
						    <li><i class="fa fa-check" aria-hidden="true"></i> Premium SkinPacks Download</li>
							<li><i class="fa fa-check" aria-hidden="true"></i> "Arkery Premium" Discord Rank</li>
							<li><i class="fa fa-check" aria-hidden="true"></i> Premium support ticket</li>
                            <li><i class="fa fa-check" aria-hidden="true"></i> Selected Cosmetic with Custom Skin</li> 
                            <li><i class="fa fa-check" aria-hidden="true"></i> 10 Skins Limit / week</li>							
                            <li><i class="fa fa-check" aria-hidden="true"></i> Custom PackName</li>
							<li><i class="fa fa-check" aria-hidden="true"></i> 1x custom banner/thumbnail order</li>
                            <li><i class="fa fa-check" aria-hidden="true"></i> VIP rank in event server (to flex)</li>
							<li><i class="fa fa-check" aria-hidden="true"></i> Premium VC access (get a chance to play with crafter)</li>
                            <li><i class="fa fa-check" aria-hidden="true"></i> Memes Allowed In General</li>
                            <li><i class="fa fa-check" aria-hidden="true"></i> Links Embed In General</li>
                            <li><i class="fa fa-check" aria-hidden="true"></i> Can Ping Admins UWU (Not Chapo)</li>
                            <li><i class="fa fa-check" aria-hidden="true"></i> Access To All Upcoming Features</li>
                        </ul>

                        <a href="24321" class="btn btn-outline-dark btn-circled">Purchase Now</a>
                    </div>
                </div> <br>
				
				
				<div class="col-lg-4 col-sm-8 col-md-6">
                    <div class="pricing-box " style="padding-bottom: 20px; padding-top: 20px; border-radius: 20px;">
                        <h3>Custom Thumbnail</h3>
                        <div class="price-block">
                             <h2><small>$</small>5<span></span></h2>
                        </div>

                        <ul class="price-features list-unstyled">
                            <li><i class="fa fa-check" aria-hidden="true"></i> 3x Custom thumbnail/ banner</li> 					
                        </ul>

                        <a href="64543" class="btn btn-outline-dark btn-circled">Purchase Now</a>
                    </div>
                </div> <br>
				
				
				<div class="col-lg-4 col-sm-8 col-md-6" style="padding-top: 40px">
                    <div class="pricing-box " style="padding-bottom: 20px; padding-top: 20px; border-radius: 20px;">
                        <h3>Arkery Premium 3 Months</h3>
                        <div class="price-block">
                             <h2><small>$</small>15<span></span></h2>
                        </div>

                        <ul class="price-features list-unstyled">
                            <li><i class="fa fa-check" aria-hidden="true"></i> All Arkery Premium features</li> 					
                        </ul>

                        <a href="89284" id="premium3" class="btn btn-outline-dark btn-circled">Purchase Now</a>
                    </div>
                </div> <br>
				
				<div class="col-lg-4 col-sm-8 col-md-6" style="padding-top: 40px">
                    <div class="pricing-box " style="padding-bottom: 20px; padding-top: 20px; border-radius: 20px;">
                        <h3>Arkery Premium 5 Months</h3>
                        <div class="price-block">
                             <h2><small>$</small>23<span></span></h2>
                        </div>

                        <ul class="price-features list-unstyled">
                            <li><i class="fa fa-check" aria-hidden="true"></i> All Arkery Premium features</li> 					
                        </ul>

                        <a href="92835" id="premium5" class="btn btn-outline-dark btn-circled">Purchase Now</a>
                    </div>
                </div> <br>
				
				<div class="col-lg-4 col-sm-8 col-md-6" style="padding-top: 40px">
                    <div class="pricing-box " style="padding-bottom: 20px; padding-top: 20px; border-radius: 20px;">
                        <h3>Arkery Premium 6 Months</h3>
                        <div class="price-block">
                             <h2><small>$</small>28<span></span></h2>
                        </div>

                        <ul class="price-features list-unstyled">
                            <li><i class="fa fa-check" aria-hidden="true"></i> All Arkery Premium features</li> 					
                        </ul>

                        <a href="35436" id="premium6" class="btn btn-outline-dark btn-circled">Purchase Now</a>
                    </div>
                </div> <br>
				
				<div class="col-lg-4 col-sm-8 col-md-6" style="padding-top: 40px">
                    <div class="pricing-box " style="padding-bottom: 20px; padding-top: 20px; border-radius: 20px;">
                        <h3>Meow Role (Discord Server)</h3>
                        <div class="price-block">
                             <h2><small>$</small>1.17<span></span></h2>
                        </div>

                        <ul class="price-features list-unstyled">
                            <li><i class="fa fa-check" aria-hidden="true"></i> Premium VC access (get a chance to play with Crafter)</li> 					
                        </ul>

                        <a href="37378" id="meowrole" class="btn btn-outline-dark btn-circled">Purchase Now</a>
                    </div>
                </div> <br>
				
				<div class="col-lg-4 col-sm-8 col-md-6" style="padding-top: 40px">
                    <div class="pricing-box " style="padding-bottom: 20px; padding-top: 20px; border-radius: 20px;">
                        <h3>Pug role (Discord Server)</h3>
                        <div class="price-block">
                             <h2><small>$</small>1.17<span></span></h2>
                        </div>

                        <ul class="price-features list-unstyled">
                            <li><i class="fa fa-check" aria-hidden="true"></i> Premium VC access (get a chance to play with Crafter)</li> 					
                        </ul>

                        <a href="18239" id="pugrole" class="btn btn-outline-dark btn-circled">Purchase Now</a>
                    </div>
                </div> <br>
				
				<div class="col-lg-4 col-sm-8 col-md-6" style="padding-top: 40px">
                    <div class="pricing-box " style="padding-bottom: 20px; padding-top: 20px; border-radius: 20px;">
                        <h3>Oink role (Discord Server)</h3>
                        <div class="price-block">
                             <h2><small>$</small>1.17<span></span></h2>
                        </div>

                        <ul class="price-features list-unstyled">
                            <li><i class="fa fa-check" aria-hidden="true"></i> Premium VC access (get a chance to play with Crafter)</li> 					
                        </ul>

                        <a href="33237" id="oinkrole" class="btn btn-outline-dark btn-circled">Purchase Now</a>
                    </div>
                </div> <br>
				
				<div class="col-lg-4 col-sm-8 col-md-6" style="padding-top: 40px">
                    <div class="pricing-box " style="padding-bottom: 20px; padding-top: 20px; border-radius: 20px;">
                        <h3>Donation</h3>
                        <div class="price-block">
                             <h2><small>$</small>1.17<span></span></h2>
                        </div>

                        <ul class="price-features list-unstyled">
                            <li><i class="fa fa-check" aria-hidden="true"></i> Supporter Role</li> 					
                        </ul>

                        <a href="13410" class="btn btn-outline-dark btn-circled">donate Now</a>
                    </div>
                </div> <br>
				
				<div class="col-lg-4 col-sm-8 col-md-6" style="padding-top: 40px">
                    <div class="pricing-box " style="padding-bottom: 20px; padding-top: 20px; border-radius: 20px;">
                        <h3>Donation</h3>
                        <div class="price-block">
                             <h2><small>$</small>3.17<span></span></h2>
                        </div>

                        <ul class="price-features list-unstyled">
                            <li><i class="fa fa-check" aria-hidden="true"></i> Supporter Role</li> 					
                        </ul>

                        <a href="29211" class="btn btn-outline-dark btn-circled">donate Now</a>
                    </div>
                </div> <br>
				
				<div class="col-lg-4 col-sm-8 col-md-6" style="padding-top: 40px">
                    <div class="pricing-box " style="padding-bottom: 20px; padding-top: 20px; border-radius: 20px;">
                        <h3>Donation</h3>
                        <div class="price-block">
                             <h2><small>$</small>5<span></span></h2>
                        </div>

                        <ul class="price-features list-unstyled">
                            <li><i class="fa fa-check" aria-hidden="true"></i> Supporter Role</li> 					
                        </ul>

                        <a href="56512" class="btn btn-outline-dark btn-circled">Donate Now</a>
                    </div>
                </div> <br> 
				<div class="col-lg-4 col-sm-8 col-md-6" style="padding-top: 40px">
                    <div class="pricing-box " style="padding-bottom: 20px; padding-top: 20px; border-radius: 20px;">
                        <h3>Donation</h3>
                        <div class="price-block">
                             <h2>Custom<span></span></h2>
                        </div>

                        <ul class="price-features list-unstyled">
                            <li><i class="fa fa-check" aria-hidden="true"></i> Supporter Role</li> 					
                        </ul>

                        <a href="35513" class="btn btn-outline-dark btn-circled">Donate Now</a>
                    </div>
                </div> <br>
                <div class="col-lg-4 col-sm-8 col-md-6" style="padding-top: 40px">
                    <div class="pricing-box " style="padding-bottom: 20px; padding-top: 20px; border-radius: 20px;">
                        <h3>Partnership</h3>
                        <div class="price-block">
                             <h2><small>$</small>15<span></span></h2>
                        </div>

                        <ul class="price-features list-unstyled">
 <li><i class="fa fa-check" aria-hidden="true"></i>Partner Role</li>               <li><i class="fa fa-at" aria-hidden="true"></i>Here Ping</li>
<li><i class="fa fa-gift" aria-hidden="true"></i>Nitro Classic Giveaway with announcement</li>
                        </ul>

                        <a href="73422" class="btn btn-outline-dark btn-circled">Donate Now</a>
                    </div>
                </div> <br>
                <div class="col-lg-4 col-sm-8 col-md-6" style="padding-top: 40px">
                    <div class="pricing-box " style="padding-bottom: 20px; padding-top: 20px; border-radius: 20px;">
                        <h3>Partnership</h3>
                        <div class="price-block">
                             <h2><small>$</small>20<span></span></h2>
                        </div>

                        <ul class="price-features list-unstyled">
 <li><i class="fa fa-check" aria-hidden="true"></i>Partner Role</li>               <li><i class="fa fa-at" aria-hidden="true"></i>Everyone Ping</li>
<li><i class="fa fa-gift" aria-hidden="true"></i>Nitro Classic Giveaway with announcement</li>
                        </ul>

                        <a href="91833" class="btn btn-outline-dark btn-circled">Donate Now</a>
                    </div>
                </div> <br>
            </div>
        </div>
    </section>
	
    <footer class="section " id="footer">
        <div class="overlay footer-overlay"></div>
        <!--Content -->
        <div class="container">
            <div class="row justify-content-start">
                <div class="col-lg-4 col-sm-12">
                    <div class="footer-widget">
                        <!-- Brand -->
                        <a href="#" class="footer-brand text-white">
                            Arkery Store
                        </a>
                        <p> Arkery is a Minecraft Bedrock Game Company, we host events/ make cosmetics for players, our discord server is a hub for gamers and coders! Join our discord server today!</p>
                    </div>
                </div>

                <div class="col-lg-3 ml-lg-auto col-sm-12">
                    <div class="footer-widget">
                        <h3>About</h3>
                        <!-- Links -->
                        <ul class="footer-links ">
                            <li>
                                <a href="#">
                                    Terms and conditions
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Privacy policy
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Affiliate services
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Help and support
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    arkery2021@gmail.com
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>


                <div class="col-lg-2 col-sm-6">
                    <div class="footer-widget">
                        <h3>Providers</h3>
                        <!-- Links -->
                        <ul class="footer-links ">
                            <li>
                                <a href="#">
                                    GreenSide
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    CrafterPlayz454
                            </li>

                            <li>
                                <a href="#">
                                    YellowSteve
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-2 col-sm-6">
                    <div class="footer-widget">
                        <h3>Socials</h3>
                        <!-- Links -->
                        <ul class="list-unstyled footer-links">
                            <li><a href="#"><i class="fa fa-facebook-f"></i>Facebook</a></li>
                            <li>
                            <a href="https://twitter.com/Salehin124"><i class="fa fa-twitter"></i>Twitter
                            </a></li>
                            <li><a href="https://www.youtube.com/channel/UC7RgPLp8VcSnhd1wO1sbZJQ"><i class="fa fa-youtube"></i>GreenSide
                            </a></li>
							<li><a href="https://www.youtube.com/channel/UCxbYRDxR6k9mhhVjmZhH90w"><i class="fa fa-youtube"></i>CrafterPlayz454
                            </a></li>
                        </ul>
                    </div>
                </div>
            </div> <!-- / .row -->


            <div class="row text-right pt-5">
                <div class="col-lg-12">
                    <!-- Copyright -->
                    <p class="footer-copy ">
                        © Copyright <span class="current-year"><a href="#">Arkery</a></span> All rights reserved.
                    </p>
                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </footer>


    <!--  Page Scroll to Top  -->

    <a class="scroll-to-top js-scroll-trigger reveal" href="#" id='top'>
        <i class="fa fa-angle-up"></i>
    </a>

    <!-- JAVASCRIPT
    ================================================== -->
    <!-- Global JS -->
    <script src="js/jquery.min.js.download"></script>
    <script src="js/popper.min.js.download"></script>

    <!-- Plugins JS -->
    <script src="js/bootstrap.min.js.download"></script>

    <!-- Slick JS -->
    <script src="js/jquery.easing.1.3.js.download"></script>
    <script src="js/slick.min.js.download"></script>
    <!-- Theme JS -->
    <script src="js/theme.js.download"></script>



</body><grammarly-desktop-integration data-grammarly-shadow-root="true"></grammarly-desktop-integration></html>